.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid orangered;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
  background-color: #17458f;
}
.title {
  color: sandybrown;
}

.header__right {
  display: flex;
  flex: 1;
}
